<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /brokersconnect_dev/public_html/
    DirectoryIndex index.php

    # No reescribir si es un archivo o directorio real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo lo demás a index.php (Laravel front controller)
    RewriteRule ^ index.php [L]
</IfModule>
